[data-theme="ifrn-webeti"] {
  --p: 145 63% 42%;
  --pf: 145 63% 32%;
  --s: 200 90% 45%;
  --sf: 200 90% 35%;
  --a: 45 90% 55%;
  --af: 45 90% 45%;
  --n: 220 13% 18%;
  --nf: 220 13% 8%;
  --b1: 0 0% 100%;
  --bc: 220 13% 18%;
}
